// Sidebar Style Overrides
.sidebar-wrapper {
  background: none;

  .sidebar-scroll-wrap {
    --scrollbarThumbBg: var(--primary-300);
    --scrollbarWidth: 0.5em;

    &:hover {
      &::-webkit-scrollbar-thumb {
        border: none;
      }
    }
  }
}

.sidebar-section-header.btn {
  border: none;
}

.sidebar-footer-wrapper {
  background: none;

  .desktop-view & {
    .sidebar-footer-container {
      background: none;

      &::before {
        background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--primary-low-rgb), 1)
        );
      }
    }
  }
}

.sidebar-section-wrapper
  .sidebar-section-header-wrapper
  .sidebar-section-header-button {
  border-radius: 4px;

  .discourse-no-touch & {
    &:hover {
      .d-icon {
        color: var(--primary-high);
      }
      background: var(--primary-very-low);
    }
  }
}

.sidebar-section-link-wrapper .sidebar-section-link-button {
  border-radius: 0;

  .d-icon {
    color: var(--tertiary);
    margin-right: 0.2em;
  }

  &:hover {
    .d-icon {
      color: var(--tertiary);
    }
  }
}

.sidebar-footer-actions {
  button {
    padding: 0.25em 0.4em;
    color: var(--d-sidebar-link-icon-color);

    .d-icon {
      font-size: var(--font-down-1);
      color: currentcolor;
    }

    .discourse-no-touch & {
      &:hover {
        color: var(--primary-medium);
        background: var(--primary-very-low);

        .d-icon {
          color: currentcolor;
        }
      }
    }
  }
}

// Fakebook overrides when sidebar_enabled
.has-sidebar-page {
  @media screen and (width >= 650px) {
    &.navigation-topics,
    &.categories-list,
    &.tags-page,
    &[class*="category-"]:not(.archetype-regular, .archetype-banner) {
      // Structuring the main grid layout
      #main-outlet {
        @if $sidebar-alignment == "left" {
          grid-template-areas:
            "alerts alerts alerts"
            "pins pins pins"
            "nav nav sidebar"
            "topic-list topic-list sidebar";
        } @else {
          // todo
          grid-template-areas:
            "alerts alerts alerts"
            "pins pins pins"
            "sidebar topic-list nav";
        }

        // todo max-width: 920px;
      }

      // Changing the layout to fit the grid
      .category-breadcrumb {
        font-size: var(--font-0);
      }

      .navigation-controls {
        flex-wrap: nowrap;
        width: unset;
        align-self: center;
      }

      .list-controls {
        .container {
          --nav-space: 0.75em;
          margin-bottom: var(--nav-space);

          .navigation-container {
            --nav-space: 0;
            gap: 0.5em;
          }
        }

        #navigation-bar {
          margin-top: unset;
        }

        .nav-pills {
          flex-direction: row;
        }

        ol {
          flex-wrap: nowrap;
        }
      }
    }
  }
}
