@import "common/foundation/variables";
@import "variables";
@import "sidebar";

:root {
  --d-nav-underline-height: 0;
}

.topic-list-header {
  display: none;
}

.alert.alert-info {
  margin-bottom: 10px;
}

@media screen and (width >= 650px) {
  .navigation-topics,
  .categories-list,
  .tags-page,
  body.navigation-category {
    // Structuring the main grid layout
    .container:first-of-type {
      grid-area: alerts;
    }

    #main-container.container,
    .tag-info {
      grid-area: pins;
    }

    .list-container {
      grid-area: topic-list;
      box-sizing: border-box;
      min-width: 70%; // Don't let the topic list get too narrow

      .topic-list,
      .category-list {
        th {
          padding-top: 0; // Align to top of nav
        }
      }
    }

    .list-container + .dbook-sidebar {
      grid-area: sidebar;
      display: block;

      @media screen and (width <= 920px) {
        display: none;
      }
    }

    #main-outlet {
      display: grid;
      gap: 1em;
      grid-template-rows: auto auto 1fr;

      @if $sidebar-alignment == "left" {
        grid-template-columns: 169px minmax(0, 2fr) 1fr;
        grid-template-areas:
          "alerts alerts alerts"
          "pins pins pins"
          "nav topic-list sidebar";
      } @else {
        grid-template-columns: 1fr minmax(0, 2fr) 169px;
        grid-template-areas:
          "alerts alerts alerts"
          "pins pins pins"
          "sidebar topic-list nav";
      }

      @media screen and (width <= 920px) {
        @if $sidebar-alignment == "left" {
          grid-template-columns: 20% calc(80% - 1em);
          grid-template-areas:
            "alerts alerts"
            "pins pins"
            "nav topic-list";
        } @else {
          grid-template-columns: calc(80% - 1em) 20%;
          grid-template-areas:
            "alerts alerts"
            "pins pins"
            "topic-list nav";
        }
      }

      > .container:not(.list-container) + span {
        display: none;
      }
    }

    .welcome-banner {
      display: none;
    }

    .latest-topic-list .table-heading,
    .top-topic-list .table-heading {
      padding-top: 0;
    }

    .navigation-controls {
      flex-wrap: wrap;
      width: 100%;
      gap: 0.5em;

      > :not(:last-child) {
        margin: 0;
      }
    }

    .list-controls {
      grid-area: nav;
      z-index: 100; // Above topic list content

      .container {
        position: sticky;
        top: 4.5em;
      }

      > #create-topic,
      .d-combo-button {
        flex: 1 1 auto;
        order: 5;
        margin: 0;
      }

      .notifications-button {
        order: 7;

        button {
          height: 2em;
        }
      }

      .edit-category {
        order: 6;
        flex: 1 1 auto;
        margin-right: 0.5em;
      }

      .categories-admin-dropdown {
        order: 8;
        margin-bottom: 0;

        button {
          height: 100%;
        }
      }

      .nav-pills {
        display: flex;
        flex-direction: column;
        margin: 0.5em 0;

        li {
          margin: 0;

          &:empty {
            display: none;
          }
        }

        & > li > a {
          padding: 0.5em 0.714em;
        }
      }

      .select-kit-header {
        span.category-name {
          max-width: 8.5em;
        }
      }

      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
        font-weight: normal;
        font-size: $font-down-1;
      }

      .select-kit.combo-box.category-drop .select-kit-row .topic-count {
        font-size: $font-down-1;
      }

      .category-navigation,
      .navigation-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1px;
      }

      ol {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        min-width: 0;
        margin: 0;

        li.category-drop,
        li.tag-drop {
          margin: 0;
          flex: 1 1 100%;

          &:not(:first-of-type) {
            margin: 0.5em 0 0 0;
          }
        }
      }

      .select-kit.combo-box.category-drop {
        min-width: 0;
      }

      .select-kit .select-kit-header .caret-icon {
        &::before {
          content: "\f0d7";
        }
      }
    }

    // Category breadcrumb
    .category-breadcrumb {
      .badge-wrapper.bullet .badge-category-parent-bg,
      .badge-wrapper.bullet .badge-category-bg {
        width: 10px;
        height: 10px;
      }

      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper.box {
        font-weight: normal;
        padding: 4px 6px;
      }

      > li {
        height: unset;
        min-width: 0;
      }

      .select-kit .select-kit-header {
        align-self: initial;
        height: unset;
        margin-bottom: 0;

        .selected-name {
          min-width: 0;

          .name {
            min-width: 0;
          }
        }
      }

      .badge-category__wrapper .badge-category {
        min-width: 0;
      }
    }

    #navigation-bar {
      margin-top: 1em;

      > li > a {
        flex: 1 1 100%;
      }
    }

    &:not(.has-sidebar-page) {
      .category-breadcrumb {
        > li,
        .single-select {
          width: 100%;
        }
      }

      #navigation-bar {
        width: 100%;
      }
    }
  }

  .tags-page.staff {
    #main-outlet #list-area {
      .admin-tag {
        order: 9;
        flex: 0 1 calc(50% - 0.25em);
        margin-bottom: 5px;
        height: 2em;

        &:nth-of-type(1) {
          margin-right: auto;
        }
      }
    }
  }
}

// Global
body {
  background: $background;
}

.topic-list {
  table-layout: fixed;
}

.wrap {
  max-width: 1020px;
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: var(--tertiary, $tertiary);
}

.btn {
  border-radius: 4px;
  color: #333;
  border: 1px solid transparent;

  &.widget-button {
    .d-icon {
      color: var(--primary-very-high, $primary-very-high);
    }
  }

  .d-icon {
    color: #333;
  }
}

.btn-default {
  background: rgb(255, 255, 255, 0.7);
  border: 1px solid $border-color;

  .discourse-no-touch & {
    &:hover {
      background: var(--tertiary, $tertiary);
    }
  }
}

.btn-primary {
  color: var(--secondary, $secondary);

  .d-icon {
    color: var(--secondary, $secondary);
  }
}

#topic-footer-buttons
  .topic-footer-main-buttons
  .topic-admin-menu-button-container {
  .btn {
    background: rgb(255, 255, 255, 0.7);

    .discourse-no-touch & {
      &:hover {
        background: var(--tertiary, $tertiary);
      }
    }
  }
}

.widget-button.btn.popup-menu-button.toggle-admin-menu.keyboard-target-admin-menu.no-text.btn-icon {
  background: rgb(255, 255, 255, 0.7);

  .discourse-no-touch & {
    &:hover {
      background: var(--tertiary, $tertiary);
    }
  }
}

.popup-menu .btn,
.popup-menu-btn,
.popup-menu-btn-danger {
  border: none;
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid $border-color;
}

.select-kit .select-kit-row.is-selected:not(.is-highlighted) {
  .icons {
    .d-icon {
      color: var(--secondary, $secondary);
    }
  }

  .texts {
    .name,
    .desc {
      color: var(--secondary, $secondary);
    }
  }
}

.select-kit.dropdown-select-box.period-chooser
  .period-chooser-row.is-selected:not(.is-highlighted) {
  color: var(--secondary, $secondary);

  .top-date-string {
    color: var(--secondary, $secondary) !important;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
}

.combo-box .combo-box-header {
  border-radius: 2px;
}

.nav-pills {
  font-size: $font-down-1;
}

.nav-pills > li > a {
  border: 1px solid transparent;
}

.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li > a.active {
  background: rgb(255, 255, 255, 0.7);
  border-radius: 2px;
  border: 1px solid rgb(0, 0, 0, 0.12);
  color: #333;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: currentcolor;
}

#list-area .show-more.has-topics .alert {
  width: 457px;
}

// Header
.d-header {
  font-size: $font-down-1;
  border-bottom: 1px solid $header-border;
  box-shadow: none;

  .d-icon {
    color: rgba(var(--primary-rgb, $primary), 0.75);
  }
}

.d-header-icons .icon:hover .d-icon,
.d-header-icons .icon:focus .d-icon,
.drop-down-mode .d-header-icons .active .icon .d-icon {
  color: var(--tertiary, $tertiary);
}

.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
  background: rgb(255, 255, 255, 0.7);
}

.user-menu .quick-access-panel li:hover,
.user-menu .notifications li:hover,
.user-menu .notifications li:focus,
.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel li.heading a:hover,
.menu-panel li.heading a:focus {
  background: var(--tertiary-low, $tertiary-low);
  text-decoration: underline;
}

.menu-panel {
  font-size: $font-up-1;

  .d-icon {
    color: var(--tertiary, $tertiary);
  }
}

// Sidebar
.custom-sidebar-connector {
  display: none;
  top: 4.5em;
  position: sticky;
  max-width: 310px;

  @media screen and (width <= 920px) {
    display: none;
  }

  .visitor {
    display: none;
  }
}

.anon {
  .sidebar {
    .visitor {
      display: block;

      button {
        display: block;
        margin-top: 1em;
      }
    }
  }
}

.dbook-sidebar {
  display: none;
  border-radius: 4px;
  border: 1px solid $border-color;
  padding: 1em;
  margin-bottom: 0.5em;
  color: var(--primary, $primary);
  align-self: start;
  position: sticky;
  top: calc(var(--header-offset) + 1em);

  @include fb-background;

  .d-icon {
    color: var(--primary-high, $primary-high);
  }

  h2 {
    font-weight: normal;
    margin-bottom: 0;
    line-height: $line-height-medium;
  }

  h3 {
    font-size: 1em;
  }

  p {
    margin-top: 0;
  }

  .sign-up-button {
    display: block;
    margin-top: 1em;
  }

  .badges {
    display: block;

    .badge-type-1 {
      .d-icon {
        color: var(--gold, $gold);
      }
    }

    .badge-type-2 {
      .d-icon {
        color: var(--silver, $silver);
      }
    }

    .badge-type-3 {
      .d-icon {
        color: var(--bronze, $bronze);
      }
    }
  }

  .likes {
    border-top: 1px solid var(--primary-low, $primary-low);
    border-bottom: 1px solid var(--primary-low, $primary-low);
    padding: 1em 0;
    margin-bottom: 1em;

    .d-icon-heart {
      color: var(--love, $love);
      font-size: 0.9em;
    }

    .user-stat {
      margin-right: 0.5em;
      display: inline-block;
    }
  }

  .reads {
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;

    .d-icon {
      margin-right: 0.25em;
      font-size: 0.9em;
    }
  }

  .user-badge {
    margin-bottom: 0.25em;
  }
}

// Topic
.gap {
  padding-left: 0;
}

.deleted {
  .topic-body,
  .topic-avatar {
    background: var(--danger-low, $danger-low);
    border-color: var(--danger-medium, $danger-medium);
  }
}

.timeline-container .topic-timeline .timeline-handle {
  background: var(--tertiary, $tertiary);
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: var(--tertiary-medium, $tertiary-medium);
}

.topic-map {
  &.--op {
    padding-left: 0;
  }
}

.small-action {
  &.time-gap {
    .small-action-desc {
      padding-left: 0;
    }
  }

  .small-action-desc {
    border: none;
  }
}

.small-action.topic-post-visited
  .topic-post-visited-line
  .topic-post-visited-message {
  background: var(--primary-low);
}

.topic-avatar {
  height: unset;
}

.topic-post.sticky-avatar > article > .row > .topic-avatar {
  margin-bottom: 0;
}

// Suggested
#suggested-topics {
  .topic-list .main-link {
    max-width: 758px;

    .link-middle-line {
      .topic-image,
      img {
        display: none;
      }
    }

    .topic-excerpt {
      display: none;
    }
  }
}

// Tags
.discourse-tags {
  .discourse-tag:not(.assigned-to) {
    &::before {
      content: "#";
      display: inline-block;
    }
  }
}

.topic-list .discourse-tags .discourse-tag {
  color: var(--tertiary, $tertiary);
}

// Badges
.badge-wrapper {
  font-weight: normal;
}

.extra-info-wrapper .topic-statuses .d-icon,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category,
.extra-info-wrapper .badge-wrapper.bar span.badge-category,
.extra-info-wrapper .badge-wrapper.none span.badge-category {
  color: var(--header_primary, $header_primary);
}

.extra-info-wrapper {
  .badge-wrapper .d-icon {
    color: currentcolor;
  }
}

.extra-info-wrapper .badge-wrapper.bullet {
  padding-top: 0;
}

.extra-info-wrapper .topic-header-extra .discourse-tags {
  a {
    color: var(--header_primary, $header_primary) !important;
  }
}

.extra-info h1 {
  font-size: 1.5em;
}

.badge-card {
  border-radius: 4px;
}

// User
.user-content {
  padding: 1em;
  border-radius: 4px;
}

.user-main .about {
  border-radius: 4px;
}

.user-main .about .details {
  padding: 1em;
  border: 1px solid var(--primary-low, $primary-low);
  border-radius: 4px;
  background: var(--secondary, $secondary);
}

.user-main .about.collapsed-info .details {
  padding: 1em;
  background: var(--secondary, $secondary);
}

.user-main .about .secondary {
  padding: 0.5em;
  margin-top: 0.25em;
  border: none;
}

.stats-section .label {
  color: var(--primary-medium, $primary-medium);
}

.top-sub-section li {
  padding: 2px 0;
  border-left: none;
}

.user-stream .item,
.user-stream .user-stream-item {
  border-radius: 4px;
  margin-bottom: 0.25em;
}

.stats-section ul {
  display: flex;
  flex-wrap: wrap;

  li.linked-stat a,
  li {
    flex: 0 0 auto;
    padding: 0;
  }

  li {
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
}

.user-navigation .nav-pills li a {
  border: none;
}

// category page
.category-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $border-color;

  thead {
    display: none;
  }

  tbody {
    display: block;

    tr {
      display: flex;
      width: 100%;

      .category {
        max-width: 80%;
      }

      .subcategories {
        overflow: hidden;
      }

      .subcategory {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .topics {
        margin-left: auto;
      }
    }
  }
}

.category-list.with-topics {
  tbody {
    .latest {
      width: 100%;
      margin-bottom: 0.5em;

      .featured-topic {
        padding-left: 0;
        border-top: 1px solid var(--primary-low, $primary-low);
        padding-top: 0.75em;
      }
    }

    tr {
      flex-wrap: wrap;

      .subcategories {
        display: block;

        .subcategory {
          display: inline;
        }
      }
    }
  }

  .category {
    width: 100%;
    max-width: unset;
    border-left: none !important;
    border-top: 5px solid;
    padding-bottom: 0;

    h3 {
      font-size: $font-up-3;
      margin-top: 0.25em;
    }
  }

  tbody tr .topics {
    position: absolute;
    right: 1em;
    padding-top: 1.5em;
  }
}

.categories-and-latest,
.categories-and-top {
  border-radius: 4px;
}

.categories-and-latest div.column.categories,
.categories-and-top div.column.categories {
  margin-right: 0 !important;
}

.top-topic-list,
.latest-topic-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-color;
}

.category-list .subcategories .subcategory {
  display: inline;
}

.more-topics {
  .pull-right {
    // 🤢
    float: none;
  }
}

.category-boxes,
.category-boxes-with-topics {
  background: var(--secondary, $secondary);
  margin-top: 0;
  padding: 1.5em 1em 0.5em;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $border-color;

  .category-box {
    width: 100%;
    border-radius: 4px;
  }

  .category-box-inner {
    border-radius: 0 4px 4px 0;
  }

  .subcategories {
    justify-content: center;
  }
}

.category-boxes-with-topics {
  .category-box .logo.aspect-image img {
    margin: 0;
  }

  h3 {
    font-size: $font-up-3;
    text-align: left;
    margin-top: 0.5em;
  }
}

// Composer
.grippie {
  border-radius: 4px 4px 0 0;
}

#reply-control {
  border-radius: 4px 4px 0 0;

  .btn {
    border: unset;
  }
}

.d-editor-button-bar {
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    border: none;
  }

  .btn:hover {
    background: var(--tertiary, $tertiary);
  }
}

// Search
.search-container .search-advanced-sidebar .search-advanced-title {
  background: var(--secondary, $secondary);
  border-radius: 4px 4px 0 0;
  border: 1px solid $border-color;
}

.search-container .search-advanced-sidebar .search-advanced-filters {
  border-radius: 0 0 4px 4px;
  border: 1px solid $border-color;
  border-top: none;
}

.search-results {
  box-sizing: border-box;
}

.fps-result {
  background: var(--secondary, $secondary);
  padding: 1em 1em 1em 0.7em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.suggested-topics .suggested-topics-title {
  font-size: 1.65em;
  font-weight: normal;
}

#topic-footer-buttons {
  padding: 0;
}

.topic-list-bottom {
  margin: 0;
}

.education,
.group-details-container,
.tag-list {
  background: var(--secondary, $secondary);
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.tag-list {
  margin-top: 0;
}

.directory table,
.groups-table {
  margin-top: 1em;
  background: var(--secondary, $secondary);
  border-radius: 4px;
}

.directory .me .username a,
.directory .me .name,
.directory .me .title,
.directory .me .number,
.directory .me .time-read {
  color: var(--tertiary, $tertiary);
}

#banner,
.alert.alert-info {
  background: var(--tertiary-medium, $tertiary-medium);
  border-radius: 4px;
  border: 1px solid var(--tertiary-high, $tertiary-high);
  color: var(--secondary, $secondary);

  .close {
    color: rgba(var(--secondary, $secondary), 0.5);
  }
}

.bookmark-with-reminder.modal .bookmark-options-button,
.modal-header .modal-close,
#banner .close,
.alert.alert-info .close {
  border: none;
}

.bookmark-with-reminder.modal .bookmark-options-button {
  padding-right: 12px;
}

// admin
.admin-controls .nav-pills > li a.active {
  background: var(--primary-medium, $primary-medium);
  color: var(--secondary, $secondary);
}

.boxed.white {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $border-color;
}

// logged out
.header-buttons {
  .sign-up-button,
  .login-button {
    background: rgba(var(--primary-rgb, $primary), 0.75);
    color: var(--tertiary-low, $tertiary-low);

    .d-icon {
      display: none;
    }

    .discourse-no-touch & {
      &:hover {
        background: var(--tertiary-low, $tertiary-low);
        color: var(--tertiary, $tertiary);
      }
    }
  }
}

// topic list

// layout
.user-content .topic-list,
.more-topics__list .topic-list,
.contents > .topic-list {
  .topic-list-header {
    display: none;
  }

  .topic-list-body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: none;

    .topic-list-item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "op category"
        "title title"
        "thumbnail thumbnail"
        "excerpt excerpt"
        "tags tags"
        "likes replies";
      justify-items: start;
    }

    .link-bottom-line,
    .main-link {
      display: contents;
    }

    .views,
    .posters,
    .age {
      display: none;
    }

    .topic-thumbnail {
      grid-area: thumbnail;
      min-width: 0;
      width: 100%;
      max-height: 15em;
      object-fit: cover;
    }

    .link-bottom-line {
      .badge-category__wrapper {
        grid-area: category;
      }

      .discourse-tags {
        display: none;
      }
    }

    .discourse-tags {
      grid-area: tags;
    }

    .topic-list-op {
      grid-area: op;
    }

    .topic-likes {
      grid-area: likes;
      width: 100%;
    }

    .topic-excerpt {
      grid-area: excerpt;
    }

    .link-top-line {
      display: flex;
      align-items: first baseline;
      grid-area: title;
      width: 100%;

      .raw-link {
        display: block;
        padding-left: 0;
      }
    }

    .posts-map {
      grid-area: replies;
      display: flex;
      justify-content: end;
      gap: 0.5em;
      width: 100%;
      padding: 0;

      .badge-posts {
        padding: 0;
      }
    }
  }

  .topic-list-op {
    margin-bottom: 1em;
    font-size: var(--font-down-1);

    > a {
      display: grid;
      grid-template-areas: "avatar username" "avatar date";
      grid-template-rows: auto 1fr;
      gap: 0.25em 0.5em;
    }

    .avatar {
      grid-area: avatar;
      width: 3rem;
      height: 3rem;
    }

    .username {
      grid-area: username;
      font-weight: bold;
      line-height: var(--line-height-small);
    }

    .relative-date {
      grid-area: date;
      font-size: var(--font-down-1);
      color: var(--primary-medium);
    }
  }

  .topic-list-item {
    --custom-list-item-space: 0.5rem;
    padding: var(--custom-list-item-space);
    border: 1px solid $border-color;
    border-radius: 4px;
    margin-bottom: 12px;

    @include fb-background;
  }

  // grouped elements by position relative to container

  // top
  .topic-list-op,
  .badge-category__wrapper {
    padding-top: var(--custom-list-item-space);
  }

  // right
  .badge-category__wrapper,
  .posts-map.posts,
  .topic-excerpt,
  .main-link a.title,
  .discourse-tags {
    box-sizing: border-box;
    padding-right: var(--custom-list-item-space);
  }

  // bottom
  .posts-map.posts,
  .topic-likes {
    padding-top: var(--custom-list-item-space);
    padding-bottom: var(--custom-list-item-space);
    border-top: 1px solid var(--primary-low);
    margin-top: var(--custom-list-item-space);
    font-size: var(--font-down-1);
  }

  // left
  .topic-list-op,
  .raw-topic-link,
  .topic-excerpt,
  .topic-likes,
  .link-top-line,
  .discourse-tags {
    box-sizing: border-box;
    padding-left: var(--custom-list-item-space);
  }

  // general appearance
  .topic-likes {
    pointer-events: none; // helps work with discourse-clickable-topic
    color: var(--primary-medium);

    .d-icon {
      color: var(--love);
    }
  }

  .posts-map.posts {
    align-items: center;

    button {
      font-weight: normal;
      flex-direction: row-reverse;
    }
  }

  .main-link a.title {
    padding-bottom: 0;
    margin-bottom: var(--custom-list-item-space);
  }

  .topic-thumbnail {
    pointer-events: none; // helps work with discourse-clickable-topic

    &:not([src=""]) {
      margin: calc(var(--custom-list-item-space) / 2) 0
        calc(var(--custom-list-item-space) * 2);
    }

    [src=""] {
      display: none;
    }
  }

  .topic-excerpt {
    margin-top: 0;
    padding-bottom: var(--custom-list-item-space);
    pointer-events: none; // helps work with discourse-clickable-topic
  }

  .visited .topic-excerpt {
    color: var(--primary-medium);
  }

  .discourse-tags {
    font-size: var(--font-down-1);
    margin-bottom: calc(var(--custom-list-item-space) / 2);

    .discourse-tag {
      color: var(--tertiary);
    }
  }
}

#show-tag-info {
  margin-right: auto;
  flex: 1 1 auto;
}

.category-heading {
  p {
    margin-top: 0;
  }
}

section.tag-info {
  padding-top: 1.5em;
  border-color: $border-color;
  border-radius: 4px;
  background: var(--secondary, $secondary);
}

.post-notice {
  width: 100%;
}

.embedded-posts.bottom .row .topic-avatar,
.embedded-posts.bottom .row .topic-body {
  border-top: 1px solid var(--primary-low);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.embedded-posts.top .row .topic-avatar,
.embedded-posts.top .row .topic-body {
  border: none;
}

// Welcome Topic Banner
.welcome-cta {
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: 12px;
  box-shadow: none;

  @include fb-background;

  &__content {
    margin-left: 1.25em;
  }
}

// chat
.chat-messages-container {
  background: var(--secondary);
}

.topic-post-badges {
  align-self: inherit;
}
