@import "common/foundation/variables";

// colors 

$border-color: #dddfe2;
$background: #e9ebee;
$fb-dark: #1d2d49;
$header-border: #29487d;

@media screen and (min-width: 650px) {
  .navigation-topics,
  .categories-list,
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) { 
    
    // Structuring the main grid layout 
    
    .container:first-of-type { 
      grid-area: alerts;
    }
    
    .container:nth-of-type(2) { 
      grid-area: pins;
    }
    
    .list-controls {
      grid-area: nav;
    }
    
    .list-container {
      grid-area: topic-list;
    }
    
    .list-container + span {
      grid-area: sidebar;
      .sidebar,
      .dbook-sidebar {
        display: block;
      }
      @media screen and (max-width: 920px) {
        display: none;
      }
    }
    
    #main-outlet {
      display: grid;
      grid-column-gap: 1em;
      padding-top: 4em;
      
      @if $sidebar-alignment == "left" {
        grid-template-columns: 2fr 505px 3.5fr; // 12 column grid
        grid-template-areas: 
        "alerts alerts alerts"
        "pins pins pins"
        "nav topic-list sidebar";
      } @else {
        grid-template-columns:  2fr 505px 3.5fr; 
        grid-template-areas: 
        "alerts alerts alerts"
        "pins pins pins"
        "sidebar topic-list nav";
        
      }
      
      
      @media screen and (max-width: 920px) {
        @if $sidebar-alignment == "left" {
          grid-template-columns: 1fr 3fr; 
          grid-template-areas: 
          "alerts alerts alerts"
          "pins pins pins"
          "nav topic-list topic-list";
        } @else {
          grid-template-columns: 3fr 1fr; 
          grid-template-areas: 
          "alerts alerts alerts"
          "pins pins pins"
          "topic-list topic-list nav";
          
        }
      }
      
    }
    
    // Changing the layout to fit the grid 
    
    .category-breadcrumb {
      font-size: 1.1487em;
      .badge-wrapper.bullet .badge-category-parent-bg, 
      .badge-wrapper.bullet .badge-category-bg {
        width: 10px;
        height: 10px;
      }
      
      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper.box {
        font-weight: normal;
        padding: 4px 6px;
      }
    }
    
    .list-container { 
      min-width: 70%; // Don't let the topic list get too narrow
      .topic-list,
      .category-list, { 
        th {
          padding-top: 0; // Align to top of nav
        }
      }
    }
    .latest-topic-list .table-heading, 
    .top-topic-list .table-heading {
      padding-top: 0;
    }
    
    .list-controls {
      z-index: 100; // Above topic list content
      .container {
        position: -webkit-sticky;  // required for Safari
        position: sticky; 
        top: 4em; // required for sticky
      }
      
      .btn {
        margin: 0;
      }
      
      #create-topic {
        flex: 1 1 auto;
        order: 5;
        margin-bottom: .5em;
      }
      
      button {
        order: 6;
      }
      .notifications-button {
        order: 7;
        button {
          height: 2em;
        }
      }
      
      .edit-category {
        flex: 1 1 auto;
        margin-right: .5em;
      }
      
      .categories-admin-dropdown {
        order: 8;
        margin-bottom: .5em;
        margin-top: -1px;
        button {
          height: 2em; 
        }
      }
      
      .nav-pills {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        margin: .5em 0;
        li {
          margin: 0;
          &:empty {
            display: none;
          }
        }
        &>li>a {
          padding: .5em .714em;
        }
      }
      
      .select-kit-header {
        span.category-name {
          max-width: 8.5em;
        }
      }
      
      .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
        font-weight: normal;
        font-size: $font-down-1;
      }
      .select-kit.combo-box.category-drop .select-kit-row .topic-count {
        font-size: $font-down-1;
      }
      
      .category-navigation,
      .navigation-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1px;
      }
      ol {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin: 0;
        li.category-drop,
        li.tag-drop {
          margin: 0;
          flex: 1 1 100%;
          &:not(:first-of-type) {
            margin: .5em 0 0 0;
          }
        }
      }
      
      .select-kit .select-kit-header .caret-icon {
        &:before {
          content: "\f0d7";
        }
      }
    }
  }
  
  .tags-page.staff {
    #main-outlet #list-area {
      .admin-tag {
        order: 9;
        flex: 0 1 calc(50% - .25em);
        margin-bottom: 5px;
        height: 2em;
        &:nth-of-type(1) {
          margin-right: auto;
          
        }
      }
    }
  }
}


// Global 

body {
  background: $background;
}

.topic-list {
  table-layout: fixed;
}


.wrap {
  max-width: 1020px;
}

#create-topic {
  background: $tertiary;
  color: $secondary;
  .d-icon {
    color: currentColor;
  }
}


.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
  color: $tertiary;
}

.btn {
  border-radius: 4px;
}

.btn-default {
  background: rgba(255,255,255, .7);
  border: 1px solid $border-color;
  
  .discourse-no-touch & {
    &:hover {
      background: $tertiary;
    }
  }
}

.select-kit.dropdown-select-box .dropdown-select-box-header {
  border: 1px solid $border-color;
}

.select-kit .select-kit-row.is-selected:not(.is-highlighted) {
  .icons {
    .d-icon {
      color: $secondary;
    }
  }
  .texts {
    .name,
    .desc {
      color: $secondary;
      
    }
  }
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-row.is-selected:not(.is-highlighted){
  color: $secondary;
  .top-date-string {
    color: $secondary !important;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
}

.combo-box .combo-box-header {
  border-radius: 2px;
}

.nav-pills {
  font-size: $font-down-1;
}

.nav-pills>li>a {
  border: 1px solid transparent;
}

.nav-pills>li>a:hover,
.nav-pills>li.active>a, .nav-pills>li>a.active {
  background: rgba(255,255,255, .7);
  border-radius: 2px;
  border: 1px solid  rgba(0,0,0, .12);
  color: $primary;
}

.topic-list-item.visited a.title:not(.badge-notification), 
.latest-topic-list-item.visited a.title:not(.badge-notification), 
.category-topic-link.visited a.title:not(.badge-notification) {
  color: currentColor;
}

#list-area .show-more.has-topics .alert {
  width: 457px;
}

.alert-info {
  display: none;
}


// Header 

.d-header {
  font-size: $font-down-1;
  border-bottom: 1px solid $header-border;
  box-shadow: none;
  .d-icon {
    color: $fb-dark;
  }
}


.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon,
.drop-down-mode .d-header-icons .active .icon .d-icon {
  color: $tertiary;
}



.d-header-icons .icon:hover, .d-header-icons .icon:focus {
  background: rgba(255,255,255, .7);
} 


.user-menu .notifications li:hover, .user-menu .notifications li:focus,
.menu-panel li a:hover, 
.menu-panel li a:focus, 
.menu-panel li.heading a:hover, 
.menu-panel li.heading a:focus {
  background: $tertiary-low;
  text-decoration: underline;
}

.menu-panel {
  font-size: $font-up-1;
  .d-icon {
    color: $tertiary;
  }
}

// Sidebar 


.sidebar {
  display: none;
  top: 4em;
  position: sticky;
  max-width: 310px; 
  @media screen and (max-width: 920px) {
    display: none;
  }
  .visitor {
    display: none;
  }
}

.anon {
  .sidebar {
    .visitor {
      display: block;
      button {
        display: block;
        margin-top: 1em;
      }
    }
  }
}

.dbook-sidebar {
  display: none;
  background: $secondary;
  border-radius: 4px; 
  border: 1px solid $border-color;
  padding: 1em;
  margin-bottom: .5em;
  color: $primary-high;
  .d-icon {
    color: $primary-high;
  }
  h2 {
    font-weight: normal;
    margin-bottom: 0;
    line-height: $line-height-medium;
  }
  h3 {
    font-size: 1em;
  }
  p {
    margin-top: 0;
  }
  .badges {
    display: block;
    .badge-type-1 { .d-icon {color: $gold;}}
    .badge-type-2 { .d-icon {color: $silver;}}
    .badge-type-3 { .d-icon {color: $bronze;}}
    
  }
  .likes {
    border-top:1px solid $primary-low;
    border-bottom:1px solid $primary-low;
    padding: 1em 0;
    margin-bottom: 1em;
    
    .d-icon-heart {
      color: $love;
      font-size: .9em;
    }
    .user-stat {
      margin-right: .5em;
      display: inline-block;
    }
  }
  .reads {
    display: flex;
    align-items: center;
    margin-bottom: .25em;
    .d-icon {
      margin-right: .25em;
      font-size: .9em;
    }
  }
  
}


// Topic 

.gap {
  padding-left: 0;
}

.deleted {
  .topic-body, .topic-avatar {
    background: $danger-low;
    border-color: $danger-medium;
  }
}

.timeline-container .topic-timeline .timeline-handle {
  background: $tertiary;
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: $tertiary-medium;
}


.topic-map {
  border-radius: 4px;
}


// Suggested

#suggested-topics {
  .topic-list .main-link {
    max-width: 758px;
    .link-middle-line {
      .topic-image, img {
        display: none;
      }
    }
    .topic-excerpt {
      display: none;
    }
  }
}

// Tags

.discourse-tags {
  .discourse-tag:not(.assigned-to) {
    &:before {
      content: '#';
      display: inline-block; 
    }
  }
}

.topic-list .discourse-tags .discourse-tag {
  color: $tertiary;
}

// Badges

.badge-wrapper {
  font-weight: normal;
}
.extra-info-wrapper .topic-statuses .d-icon,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category, .extra-info-wrapper .badge-wrapper.bar span.badge-category, .extra-info-wrapper .badge-wrapper.none span.badge-category {
  color: $header_primary;
}

.extra-info-wrapper .topic-header-extra .discourse-tags {
  a { color: $header_primary !important;}
}

.extra-info h1 {
  font-size: 1.5em;
}

.badge-card {
  border-radius: 4px;
}

// User 

.user-main .about {
  border-radius: 4px;
}

.user-main .about .details {
  padding: 1em;
  border: 1px solid $primary-low;
  border-radius: 4px;
  background: $secondary;
}
.user-main .about.collapsed-info .details {
  padding: 1em;
  background: $secondary;
}

.user-main .about .secondary {
  padding: .5em;
  border: 1px solid $primary-low;
  border-radius: 4px;
  margin-top: .25em;
}

.stats-section .label {
  color: $primary-medium;
}

.top-sub-section li {
  padding: 2px 0;
  border-left: none;
}

.user-stream .item, .user-stream .user-stream-item {
  border-radius: 4px;
  margin-bottom: .25em;
}

.stats-section ul {
  display: flex;
  flex-wrap: wrap;
  li.linked-stat a,
  li {
    flex: 0 0 auto;
    padding: 0;
  }
  li {
    margin-right: 1.5em;
    margin-bottom: 1em;
  }
  
}


// category page 

.category-list {
  background: $secondary;
  padding: 1em;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid $border-color;
  thead {
    display: none;
  }
  tbody {
    display: block;
    tr {
      display: flex;
      width: 100%;
      .category {
        max-width: 80%;
        
      }
      .subcategories {
        overflow: hidden;
      }
      .subcategory {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
      .topics {
        margin-left: auto;
      }
    }
  }
}

// Composer 

.grippie {
  border-radius: 4px 4px 0 0;
}

#reply-control {
  border-radius: 4px 4px 0 0;
}

.d-editor-button-bar {
  .select-kit.dropdown-select-box .dropdown-select-box-header {
    border: none;
  }
  .btn:hover {
    background: $tertiary;
  }
}

// Search 

.search-container .search-advanced-sidebar .search-advanced-title {
  background: $secondary;
  border-radius: 4px 4px 0 0;
  border: 1px solid $border-color;
  
}

.search-container .search-advanced-sidebar .search-advanced-filters {
  border-radius: 0 0 4px 4px;
  border: 1px solid $border-color;
  border-top: none;
}

.search-results {
  box-sizing: border-box;
}

.fps-result {
  background: $secondary;
  padding: 1em 1em 1em .7em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.suggested-topics .suggested-topics-title {
  font-size: 1.65em;
  font-weight: normal;
}

#topic-footer-buttons {padding: 0;}

.topic-list-bottom {
  margin: 0;
}

.education,
.group-details-container,
.tag-list {
  background: $secondary;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 1em;
}

.tag-list {
  margin-top: 0;
}

.directory table, .groups-table {
  margin-top: 1em;
  background: $secondary;
  border-radius: 4px;
}

.directory .me .username a, .directory .me .name, .directory .me .title, .directory .me .number, .directory .me .time-read {
  color: $tertiary;
}

#banner {
  background: $tertiary-medium;
  border-radius: 4px;
  border: 1px solid $tertiary-high;
  color: $secondary;
  .close {
    color: rgba($secondary, .5);
  }
}

// admin

.admin-controls .nav-pills>li a.active {
  color: $secondary;
}

.boxed.white {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $border-color;
  
}

// logged out

.header-buttons {
  .sign-up-button,
  .login-button {
    background: $fb-dark;
    color: $tertiary-low;
    .d-icon {
      display: none;
    }
    .discourse-no-touch & {
      &:hover {
        background: $tertiary-low;
        color: $tertiary;
      }
    }
  }
}