@import "common/foundation/variables";

@mixin siteWidth() {
  min-width: calc(80vw - 16px);
  padding-left: 10vw;
  padding-right: 10vw;
}

#main-outlet {
  padding-top: 6em;
}

.d-header {
  height: 60px;
}

.d-header > .wrap {
  @include siteWidth();
}

// User

.user-table {
  padding: 1em;
  background: var(--secondary, $secondary);
  box-sizing: border-box;
  border-radius: 4px;
}

.boxed .row {
  display: flex;
  margin-bottom: 1em;
}

// Topic

.topic-body {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%),
    linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  padding-right: 1em;
  width: calc(690px + (11px * 2) - 2em);
  border-radius: 0 4px 4px 0;
  border-top: 1px solid var(--primary-low);
  border-right: 1px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);
  &.highlighted {
    animation: none;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%),
    linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  }
  @media screen and (max-width: 775px) {
    width: calc(100% - 60px);
  }
}

.topic-avatar {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.05) 100%),
  linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
  padding-left: 1em;
  padding-bottom: 1.2em;
  border-radius: 4px 0 0 4px;
  border-top: 1px solid var(--primary-low);
  border-left: 1px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);
  .avatar-flair {
    top: 36px;
  }
}

.topic-list .topic-list-item-separator td span {
  background: #e9ebee;
}

.small-action {
  margin-bottom: 1em;
}

.small-action .topic-avatar {
  margin-right: 0;
  padding: 1em 0 1em 0.75em;
  font-size: 1em;
  min-height: 26px;
  align-self: stretch;
  border-top: 1px solid var(--primary-low, $primary-low);
  .d-icon {
    height: 23px;
  }
}

.small-action-desc {
  border-radius: 0 4px 4px 0;
  border-top: 1px solid var(--primary-low);
  border-right: 1px solid var(--primary-low);
  border-bottom: 1px solid var(--primary-low);
  background: var(--secondary, $secondary);
}

.time-gap.small-action {
  .small-action-desc {
    background: transparent;
    border: none;
  }
  .topic-avatar {
    display: none;
  }
}

.admin-main-nav .nav-pills {
  justify-content: center;
}

.user-primary-navigation .nav-pills {
  display: flex;
  justify-content: center;
}

.embedded-posts {
  .topic-avatar,
  .topic-body {
    border-top: 1px solid var(--primary-very-low);
  }
}

.read-state {
  right: 10px;
}

.tag-drop-row {
  font-weight: normal !important;
  font-size: 0.875em;
}

.presence-users {
  background: transparent;
  margin-bottom: 1em;
}
